<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>Conoce tu otra mitad</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-no-padding" >
        <ion-item-sliding *ngFor="let persona of gente">
          <ion-item color="medium">
            <ion-card color="light">
                <ion-card-header>
                    <ion-card-title class="cardItems">{{persona.Nombre}}


                    </ion-card-title>

                </ion-card-header>
                <ion-card-content class="cardItems">
                    <ion-img src={{persona.img}}> </ion-img>
                </ion-card-content>


                <ion-row class="cardfooter">
                    <ion-col>
                        <ion-button float-right>
                            <ion-icon color="dark" name="book"></ion-icon>
                        </ion-button>
                    </ion-col>
                  </ion-row>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
</ion-content>
