

<ion-content>

  <br> <br>
       
            <div text-center>
              <h1>FOUND LOVE</h1>
              <h3>Accede</h3>
            </div>
           

         
</ion-content>
<ion-content padding>
 <ion-list>
    <ion-item>
      <ion-label floating>Usuario: </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Contrasena: </ion-label>
        <ion-input type="pasword"></ion-input>
      </ion-item>

 </ion-list>

 <button ion-button full>Ingresar</button>

</ion-content>
